@charset "UTF-8";

@font-face {
    font-family: 'myriadPRO';
    src: url(/fonts/myriad-pro-regular.OTF);
}

:root {
    --fontMyriad: 'myriadPRO';
    --fontAlternative: 'arial';
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fontMyriad);
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url(/img/sunset-mountains-silhouette-5k-1280x800-47.jpg);
}